<% include ./partials/header %>

<div class="main-content">
  <div class="promote-form">
    <form action="/event" method="post" class="form">
      <div class="form__group">
        <label class="form__label" for="website">Website</label>
        <input class="form__input" type="text" id="website">
      </div>
      <div class="form__group">
        <label class="form__label" for="address">Address</label>
        <input class="form__input" type="text" id="address">
      </div>
      <div class="form__group">
        <label class="form__label" for="city">City</label>
        <input class="form__input" type="text" id="city">
      </div>
      <div class="form__group">
        <label class="form__label" for="state">State</label>
        <input class="form__input" type="text" id="state">
      </div>
      <div class="form__group">
        <label class="form__label" for="zip">Zip Code</label>
        <input class="form__input" type="text" id="zip">
      </div>
      <div class="form__group">
        <label class="form__label" for="phoneNumber">Phone Number</label>
        <input class="form__input" type="text" id="phoneNumber">
      </div>
      <div class="form__group">
        <label class="form__label" for="totalRewards">Total Rewards</label>
        <input class="form__input" type="text" id="totalRewards">
      </div>
      <div class="form__group">
        <label class="form__label" for="incentives">Incentives</label>
        <input class="form__input" type="text" id="incentives">
      </div>
      <div class="form__group">
        <label class="form__label" for="ethWalletAddress">Eth Wallet Address</label>
        <input class="form__input" type="text" id="ethWalletAddress">
      </div>
      <div class="form__group">
        <label class="form__label" for="eventName">Event Name</label>
        <input class="form__input" type="text" id="eventName">
      </div>
      <div class="form__group">
        <label class="form__label" for="eventVenue">Event Venue</label>
        <input class="form__input" type="text" id="eventVenue">
      </div>
      <div class="form__group">
        <label class="form__label" for="startTime">Start Time</label>
        <input class="form__input" type="text" id="startTime">
      </div>
      <div class="form__group">
        <label class="form__label" for="endTime">End Time</label>
        <input class="form__input" type="text" id="endTime">
      </div>
      <div class="form__group">
        <label class="form__label" for="email">Email</label>
        <input class="form__input" type="text" id="email">
      </div>
      <div class="form__group">
        <label class="form__label" for="flyerUrl">Flyer URL</label>
        <input class="form__input" type="text" id="flyerUrl">
      </div>
      <div class="form__group">
        <button class="form__group-btn">Add Event</button>
      </div>
    </form>
  </div>
</div>

<% include ./partials/footer %>
