<% include ./partials/header %>

  <div class="main-content">
    <div class="image-grid">
      <a href="/flyer.html">
        <img src="/images/thumbnails/dj-ikon.png" alt="flyer image">
      </a>
      <a href="/flyer.html">
        <img src="/images/thumbnails/dj-irie.png" alt="flyer image">
      </a>
      <a href="/flyer.html">
        <img src="/images/thumbnails/dj-shift.png" alt="flyer image">
      </a>
      <a href="/flyer.html">
        <img src="/images/thumbnails/fergie-dj.png" alt="flyer image">
      </a>
      <a href="/flyer.html">
        <img src="/images/thumbnails/jack-n-cake.jpg" alt="flyer image">
      </a>
      <a href="/flyer.html">
        <img src="/images/thumbnails/lil-jon.png" alt="flyer image">
      </a>
      <a href="/flyer.html">
        <img src="/images/thumbnails/matoma.png" alt="flyer image">
      </a>
      <a href="/flyer.html">
        <img src="/images/thumbnails/tiesto.jpg" alt="flyer image">
      </a>
    </div>
  </div>

<% include ./partials/footer %>
