<% include ./partials/header %>

  <div class="main-content">
    <div class="image-grid">
      <% flyers.forEach(function(flyer) { %>
        <a href="/details/<%= flyer.id %>">
          <img src="<%= flyer.flyerurl %>" alt="flyer image">
        </a>
      <% }) %>
    </div>
  </div>

<% include ./partials/footer %>
