<% include ./partials/header %>

<div class="main-content">
  <div class="promote-form">
    <form action="/promote/<%= flyerId %>" method="post" class="form">
      <h1>Promote and earn!</h1>
      <p>Enter your email and eth address and we'll send you a link to share and earn.</p>
      <div class="form__group">
        <label class="form__label" for="email">Email</label>
        <input class="form__input" type="text" id="email" name="email">
      </div>
      <div class="form__group">
        <label class="form__label" for="ethWalletAddress">Eth Wallet Address</label>
        <input class="form__input" type="text" id="ethWalletAddress" name="ethWalletAddress">
      </div>
      <div class="form__group">
        <button class="form__group-btn">Promote</button>
      </div>
    </form>
  </div>
</div>

<% include ./partials/footer %>
